.background {
  width: 100vw;
  height: 30rem;
  &__pic {
    width: 100%;
    object-fit: cover;
    @include respond(phone) {
      display: none;
    }
    &--mobile {
      display: none;
      @include respond(phone) {
        display: block;
      }
    }
  }
}
