.header {
  display: flex;
  align-items: center;
  width: 100%;
  &__weather-icon {
    margin-left: auto;
    cursor: pointer;
  }
  &__logo {
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4rem;
    color: $very-light-gray;
  }
}
