.task-box {
  width: 100%;
  margin-top: 3.3rem;
  display: flex;
  flex-direction: column;
  background-color: var(--background-inner);
  transition: 0.3s ease;
  box-shadow: 0rem 1rem 3rem rgba(rgb(0, 0, 0), 0.2);
  border-radius: 6px;
  overflow: hidden;
}
