.tasks {
  display: flex;
  flex-direction: column;
}
.task {
  cursor: pointer;
  width: 100%;
  min-height: 6.3rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--line-border);
  transition: border-bottom 0.3s ease;
  list-style: none;
  position: relative;
  &__circle {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    border: var(--circle-border) 1px solid;
    margin-right: 2rem;
    z-index: 2;
    background-color: var(--background-inner);
    color: white;
    transition: 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
  }
  &__circle:hover + &__circle-hover {
    display: block;
    transition: 0.3s ease;
  }
  &__circle-hover {
    position: absolute;
    transform: scale(1.1);
    height: 2.5rem;
    width: 2.5rem;
    background-image: $check-background;
    border-radius: 50%;
    display: none;
    transition: 0.3s ease;
  }
  &__completed {
    background-image: $check-background;
    transition: 0.3s ease;
  }
  &__item {
    width: calc(100% - 5rem);
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    word-break: break-all;
  }
  &__item-checked {
    text-decoration: line-through;
    color: var(--text-secondary);
    transition: 0.3s ease;
  }

  &__item:hover &__remove {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__remove {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: none;
    font-size: 2.5rem;
    font-weight: 700;
  }
  &__remove-icon {
    fill: var(--text-secondary);
  }
  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-primary);
    font-size: 1.6rem;
    padding: 1rem;
    row-gap: 1rem;
    border-bottom: var(--line-border) 1px solid;
    transition: 0.3s ease;
  }
  &__empty-icon {
    transition: 0.3s ease;
    fill: $bright-blue;
    height: 3rem;
    width: 3rem;
  }
}
