.task-box {
  width: 100%;
  margin-top: 3.3rem;
  display: flex;
  flex-direction: column;
  background-color: $white;
  box-shadow: 0rem 1rem 3rem rgba(rgb(0, 0, 0), 0.2);
  border-radius: 6px;
  overflow: hidden;
  &__log-box {
    color: $dark-grayish-blue;
    padding: 1rem 2rem;
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
  }
  &__log {
    list-style: none;
    &--clear {
      cursor: pointer;
      &:hover {
        color: $very-dark-grayish-blue;
      }
    }
  }
  &__filter-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
  }
  &__filter {
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: inherit;
    color: inherit;
    font-size: 1.6rem;
    &:hover {
      color: $very-dark-grayish-blue;
    }
    &--active,
    &--all,
    &--completed {
      color: $bright-blue;
      &:hover {
        color: $bright-blue;
      }
    }
  }
}
