.tasks {
  display: flex;
  flex-direction: column;
}
.task {
  width: 100%;
  min-height: 6.3rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  background-color: $white;
  border-bottom: 2px solid $very-light-grayish-blue;
  list-style: none;
  position: relative;
  &__circle {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    border: $light-grayish-blue 1px solid;
    margin-right: 2rem;
    z-index: 2;
    background-color: $white;
    color: $white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
  }
  &__circle:hover + &__circle-hover {
    display: block;
  }
  &__circle-hover {
    position: absolute;
    transform: scale(1.1);
    height: 2.5rem;
    width: 2.5rem;
    background-image: $check-background;
    border-radius: 50%;
    display: none;
  }
  &__input {
    display: none;
  }
  &__completed {
    background-image: $check-background;
  }
  &__input:checked ~ &__circle-hover {
    display: none;
  }
  &__item {
    width: calc(100% - 5rem);
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    word-break: break-all;
  }
  &__item-checked {
    text-decoration: line-through;
    color: $dark-grayish-blue;
  }

  &__item:hover &__remove {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__remove {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: none;
    font-size: 2.5rem;
  }
  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    row-gap: 1rem;
    border-bottom: $light-grayish-blue 1px solid;
  }
  &__empty-icon {
    fill: $bright-blue;
    size: 50%;
  }
}
