.tasks {
  display: flex;
  flex-direction: column;
}
.task {
  width: 100%;
  min-height: 6.3rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 2px solid hsl(236, 33%, 92%);
  list-style: none;
  position: relative;
  &__circle {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    border: hsl(233, 11%, 84%) 1px solid;
    margin-right: 2rem;
    z-index: 2;
    background-color: white;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
  }
  &__circle:hover + &__circle-hover {
    display: block;
  }
  &__circle-hover {
    position: absolute;
    transform: scale(1.1);
    height: 2.5rem;
    width: 2.5rem;
    background-image: linear-gradient(
      to bottom right,
      hsl(192, 100%, 67%),
      hsl(280, 87%, 65%)
    );
    border-radius: 50%;
    display: none;
  }
  &__input {
    display: none;
  }
  &__completed {
    background-image: linear-gradient(
      to bottom right,
      hsl(192, 100%, 67%),
      hsl(280, 87%, 65%)
    );
  }
  &__input:checked ~ &__circle-hover {
    display: none;
  }
  &__item {
    width: calc(100% - 5rem);
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    word-break: break-all;
  }
  &__item-checked {
    text-decoration: line-through;
    color: hsl(236, 9%, 61%);
  }

  &__item:hover &__remove {
    display: block;
  }
  &__remove {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: none;
    font-size: 2.5rem;
  }
}
