// ### Primary
$bright-blue: hsl(220, 98%, 61%);
$check-background: linear-gradient(
  to bottom right,
  hsl(192, 100%, 67%),
  hsl(280, 87%, 65%)
);

// ### Neutral

// ### Light Theme
$background: hsl(0, 0%, 98%);

:root {
  --background-inner: hsl(0, 0%, 100%);
  --line-border: hsl(236, 33%, 92%);
  --circle-border: hsl(233, 11%, 84%);
  --text-secondary: hsl(236, 9%, 61%);
  --text-secondary-hover: hsl(235, 19%, 35%);
  --text-primary: hsl(235, 19%, 35%);
}

// ### dark Theme
$background-dark: hsl(235, 21%, 11%);

[data-theme="dark"] {
  --background-inner: hsl(235, 24%, 19%);
  --text-primary: hsl(234, 39%, 85%);
  --text-secondary-hover: hsl(236, 33%, 92%);
  --text-secondary: hsl(234, 11%, 52%);
  --circle-border: hsl(233, 14%, 35%);
  --line-border: hsl(237, 14%, 26%);
}
