.header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  &__weather-icon {
    margin-left: auto;
  }
  &__logo {
    letter-spacing: 1rem;
    // line-height: 0.7;
    font-weight: 700;
    font-size: 4rem;
  }
}
