.App {
  min-height: 100vh;
  color: hsl(235, 19%, 35%);
}
.main {
  position: absolute;
  top: 7.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 58rem;
  display: flex;
  flex-direction: column;
}
.footer {
  width: 100%;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 5rem;
  font-size: 1.6rem;
  color: hsl(236, 9%, 61%);
}
